
https://www.kaggle.com/datasets/anderas/car-consume

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [41]:
df1 = pd.read_csv("measurements.csv")
df2 = pd.read_excel("measurements2.xlsx")

In [42]:
df1.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [43]:
df2.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN

In [44]:
df = df1.copy()

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [46]:
df.drop(["refill gas","refill liters","specials"] ,axis=1 , inplace=True)

In [47]:
df.isnull().sum()

distance         0
consume          0
speed            0
temp_inside     12
temp_outside     0
gas_type         0
AC               0
rain             0
sun              0
dtype: int64

In [48]:
df["temp_inside"].value_counts()

21,5    133
22      102
22,5     59
20       25
21       13
23       13
25       12
24,5      7
20,5      4
24        3
23,5      2
25,5      2
19        1
Name: temp_inside, dtype: int64

In [49]:
df["temp_inside"] = df["temp_inside"].str.replace(",",".")

In [50]:
df["temp_inside"] = df["temp_inside"].astype(float)

In [51]:
mean_value=df['temp_inside'].mean()
df['temp_inside'].fillna(value=mean_value, inplace=True)

In [52]:
df["distance"] = df["distance"].str.replace(",",".")
df["distance"] = df["distance"].astype(float)

df["consume"] = df["consume"].str.replace(",",".")
df["consume"] = df["consume"].astype(float)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      388 non-null    float64
 1   consume       388 non-null    float64
 2   speed         388 non-null    int64
 3   temp_inside   388 non-null    float64
 4   temp_outside  388 non-null    int64
 5   gas_type      388 non-null    object
 6   AC            388 non-null    int64
 7   rain          388 non-null    int64
 8   sun           388 non-null    int64
dtypes: float64(3), int64(5), object(1)
memory usage: 27.4+ KB

In [54]:
df["gas_type"].value_counts()

SP98    228
E10     160
Name: gas_type, dtype: int64

In [55]:
df['gas_type'] = df['gas_type'].map({'SP98': 1, 'E10': 0})

In [56]:
abs(df.corr()["consume"]).sort_values(ascending = False)

consume         1.000000
temp_outside    0.320811
rain            0.248118
speed           0.227866
sun             0.170667
temp_inside     0.160623
distance        0.128967
AC              0.096591
gas_type        0.015327
Name: consume, dtype: float64

In [62]:
df_model = df.drop(["AC","gas_type"] , axis =1 )

In [63]:
import numpy as np

In [64]:
from pycaret.regression import *

exp_name = setup(data = df_model , target = "consume")

best_model = compare_models()

 En iyi sonucu gradient boosting regressor verdi